/*
$color: (
    bg: rgb(129, 73, 185),
    logo: red,
    cuadro1: red,
    cuadro2: yellow,
    texto: skyblue
);

$color: (
    bg: #f7e8e8,
    logo: #ea7dc7,
    cuadro1: #ea7dc7,
    cuadro2: #f090d9,
    texto: #f2a2e4
);
*/




$color: (
    bg: #cb3b3b,
    logo: #85203b,
    cuadro1: #85203b,
    cuadro2: #fff98c,
    texto: #e0c45c

);
